:root {
  --colorOne: #d1edf4;
  --colorTwo: #e2f0d7;
  --colorThree: #fcf7bc;
  --colorFour: #ebebeb;
  --colorFive: #fcc3c3;
  --colorSix: #e2f0d7;
  --colorSeven: #faf7d1;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__nav {
  display: flex;
  justify-content: space-around;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  font-size: 50px;
}

header {
  margin-bottom: 100px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 0.5fr;
}

.header__column span {
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: gray(50);
  text-decoration: underline;
}

.header__column li {
  margin-bottom: 5px;
}

.header__column li:last-child {
  margin: 0;
}

/* Main */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 15px;
}

.grid__item {
  /* border: 1px solid black; */

  background-size: cover;
  background-position: center center;
}

.grid__item:first-child {
  grid-row: span 2;
  background-color: var(--colorOne);
}

.grid__item:nth-child(2) {
  /* grid-row: span 2;
  grid-column: span 2; */
  grid-area: span 2 / span 2;
  background-image: url('https://i.pinimg.com/564x/ba/5e/0a/ba5e0aa4339fd686e5d741f7b87838cb.jpg');
  margin-bottom: 30px;
}

.grid__item:nth-child(3) {
  background-color: var(--colorTwo);
}

.grid__item:nth-child(4) {
  grid-row: span 2;
  background-image: url('https://i.pinimg.com/564x/55/f9/af/55f9afd2eab8c0180cfb8b3e993f56d3.jpg');
  margin-bottom: 20px;
}

.grid__item:nth-child(5) {
  background-color: var(--colorThree);
}

.grid__item:nth-child(6) {
  background-color: var(--colorFour);
}

.grid__item:nth-child(7) {
  background-image: url('https://i.pinimg.com/564x/a1/56/56/a15656122d66372a5c1f7b153fb06579.jpg');
}

.grid__item:nth-child(8) {
  grid-area: span 2 / span 2;
  background-color: var(--colorFive);
}

.grid__item:nth-child(9) {
  margin-bottom: 20px;
  grid-row: span 2;
  background-image: url('https://i.pinimg.com/564x/06/f8/55/06f855d74158a6dfad45270d2cb5c24a.jpg');
}

.grid__item:nth-child(10) {
  grid-area: span 2 / span 2;
  background-image: url('https://i.pinimg.com/564x/31/61/54/3161540919278c59269dd1eba321a508.jpg');
}

.grid__item:nth-child(11) {
  background-image: url('https://i.pinimg.com/564x/8e/78/fe/8e78fea0a696a67c61fc1c424f545759.jpg');
}

.grid__item:nth-child(12) {
  background-image: url('https://i.pinimg.com/564x/74/f7/0b/74f70bdd293d5c4c16e519701a3db0ca.jpg');
}

.grid__item:nth-child(13) {
  grid-area: span 2 / span 2;
  background-color: var(--colorSix);
}

.grid__item:nth-child(14) {
  background-image: url('https://i.pinimg.com/564x/dc/1b/01/dc1b01e6b12b9fdec4808145d85e0c9c.jpg');
}

.grid__item:nth-child(15) {
  background-color: var(--colorSeven);
}

.is_visible {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.show_on_scroll {
  transition: transform 2s, opacity 1s;
  opacity: 0;
  transform: translateY(80px);
}
/*  Footer  */
.footer {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 50px;
}

.footer__item {
  margin-bottom: 20px;
}
